---
import { Github } from "lucide-react";
---

<footer class="">
    <div class="mx-auto max-w-7xl px-6 py-12 md:flex md:items-center md:justify-between lg:px-8">
        <div class="flex justify-center space-x-6 md:order-2">
            <a href="https://x.com/ardaaltinors" class="text-gray-400 hover:text-gray-500">
                <span class="sr-only">X</span>
                <svg className="h-6 w-6" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24">
                    <path d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"/>
                </svg>
            </a>
            <a href="https://github.com/ardaaltinors/MemCP" class="text-gray-400 hover:text-gray-500">
                <span class="sr-only">GitHub</span>
                <Github className="h-6 w-6" aria-hidden="true" client:visible />
            </a>
        </div>
        <div class="mt-8 md:order-1 md:mt-0">
            <p class="text-center text-xs leading-5 text-gray-500">
                &copy; 2025 MemCP
            </p>
        </div>
    </div>
</footer> 